body {
    margin: 0;
    height: 100vh;
    background: url('room3bg.jpg') center/cover no-repeat;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-container {
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border: 2px solid #8b4513;
    border-radius: 10px;
    width: 150%;
    max-width: 700px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
}

.instructions {
    font-size: 1rem;
    margin-bottom: 15px;
}

.highlight {
    color: #ffd700;
    font-weight: bold;
}

.workspace {
    display: flex; /* for flexible layout */
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #8b4513;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.6);
}
/* styling for the draggable items (images) */
.draggable {
    width: 70px;
    height: 70px;
    background-size: cover;
    background-position: center;
    cursor: grab;
    border: 1px solid #8b4513;
    border-radius: 5px;
}

/* image backgrounds for different draggable items (these are the taxidermied supplies*/
.glass-eyes {
    background-image: url('room3glasseyes.png');
}

.deer-head {
    background-image: url('room3deerhead.png');
}

.bear-claw {
    background-image: url('room3bearclaw.png');
}

.fish-skeleton {
    background-image: url('room3fishskeleton.png');
}
#taxidermy-form {
    width: 200px;
    height: 300px;
    background: url('room3deer.png') center/contain no-repeat;
    position: relative;
    margin: 0 auto;
    border: 2px dashed #8b4513;
}

.success-message {
    display: none;
    font-size: 1.2rem;
    color: limegreen;
    margin-top: 15px;
}

#escapeButton {
    top: 100%;
    margin: 0 auto;
    display: flex;
}
/* positioning the audio control buttons */
.bottom-left1 {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.bottom-left2 {
    position: fixed;
    bottom: 10px;
    left: 130px;
}
