html,
body {
    height: 100%;
    margin: 0;
    background-image: url("room1door.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Courier New', Courier, monospace;
}

p {
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    color: white;
    font-size: 20px;
    text-align: center;
}

.bottom-left1 {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.bottom-left2 {
    position: fixed;
    bottom: 10px;
    left: 130px;
}

img {
    width: 5%;
    /* shrinking it to 50% of the original size */
    height: auto;
    /* maintaining aspect ratio */
}

#key {
    position: absolute;
    right: 100px;
    top: 700px;
}


#escape {
    visibility: hidden;
    display: block;
    margin: 0 auto;
}

.alert {
    padding: 20px;
    width: 50%;
    background-color: blue;
    color: white;
    margin: 0 auto;
    text-align: center;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.alertSuccess {
    padding: 20px;
    width: 50%;
    background-color: green;
    color: white;
    margin: 0 auto;
    text-align: center;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}